<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    </head>
    <body>
        <label id='title' for="usr" style="font-size: 20px;margin-top: 100px;margin-left: 300px;"><%= @title %></label>
        <br>
        <span style="margin-left: 300px">Đã xem: <%= @seen %></span>
        <br>
        <br>
        <textarea id='content' rows="5" style="margin-left: 300px;width: 800px;height: 500px;" readonly><%= @content %></textarea>

        <button type="submit">Edit</button>
        <script>
            $('button').eq(0).click(function () {
            $('#content').removeAttr('readonly');
            if ($('button').eq(0).text() == 'Update') {
                var t = $('#title').text();
                var c = $('#content').val();
                var temp = window.location.href;
                for (var i=temp.length; i>0; i--) {
                    if (temp[i] == '/') {
                    temp = temp.substring(i+1, temp.length);
                    }
                }
                $.post("/edit", {id: temp, title: t, content: c},  function() {		
                });
                }
            $('button').text('Update');
            });
        </script>
        <br>
        Comment:
        <br>
        <textarea placeholder="Your name" name="name" id="name" style="margin-left: 0px; width: 150px;height: 25px;" ></textarea>
        <br>
        <textarea placeholder="Input your comment" name="comment" id="comment" style="margin-left: 0px; width: 80%;height: 50px;" ></textarea>
        <br>
        <button type="submit">Submit</button>
        <br><br>
        <script>
            $('button').eq(1).click(function () {
                var n = $('#name').val();
                var c = $('#comment').val();
                var temp = window.location.href;
                for (var i=temp.length; i>0; i--) {
                    if (temp[i] == '/') {
                    temp = temp.substring(i+1, temp.length);
                    }
                }
                $.post("/saveComment", {id: temp, name: n, comment: c},  function() {		
                });
                var strhtml ;
                strhtml = "<div style = border-bottom-style:double;> <span class=author><b class=author-name>" +
                n + "</b> said:</span> <blockquote style=margin-left:10px;>" + c + "</blockquote> </div>";
                $('#comment_view').append(strhtml);
            });
        </script>
        <div id="comment_view">
            <% if @tempCm[0] != nil %>
                <% if @tempCm[1] != nil %>
                    <% @tempCm.each do |i| %>
                        <div style="border-bottom-style: double;">
                        <span class="author"><b class="author-name"><%= i.name %></b> said:</span>
                        <blockquote style="margin-left: 10px;"><%= i.comment %></blockquote>
                        </div>
                    <% end %>                
                <% else %>
                    <div style="border-bottom-style: double;">
                    <span class="author"><b class="author-name"><%= @tempCm[0].name %></b> said:</span>
                    <blockquote style="margin-left: 10px;"><%= @tempCm[0].comment %></blockquote>
                    </div>
                <% end %>
            <% end %>
        </div>
    </body>
</html>